{% extends 'SlyMainBundle:Layout:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='yui_css'
        '@SlyVMBundle/Resources/public/css/*'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block body %}
    <div id="vm-creation-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="vm-creation-response" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="vm-creation-response">Your VM has been created</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

    <h3>Virtual Machine pre-configuration</h3>

    <p>
        <button class="btn btn-small apply-config" data-config="php53">PHP 5.3</button>
        <button class="btn btn-small apply-config" data-config="php54">PHP 5.4</button>
        <button class="btn btn-small apply-config" data-config="symfony1">Symfony 1.4</button>
        <button class="btn btn-small apply-config" data-config="symfony2">Symfony 2</button>
        <button class="btn btn-small disabled">Drupal 7-</button>
        <button class="btn btn-small disabled">Drupal 8</button>
        <button class="btn btn-small disabled">Magento</button>
        <button class="btn btn-small disabled">Magento 2</button>

        <small>&nbsp;&nbsp;&nbsp; Many pre-configuration are coming...</small>
    </p>

    <hr />

    <form id="vm-creation" action="{{ path('homepage') }}" method="post" {{ form_enctype(form) }}>
        <ul class="nav nav-tabs" id="vm-settings">
          <li class="active">
                <a href="#configuration" data-toogle="tab">
                    <strong><i class="icon-hdd"></i> VM Configuration</strong>
                </a>
          </li>
          <li>
              <a href="#components-and-modules" data-toogle="tab">
                  <strong><i class="icon-list"></i> Components and Modules</strong>
              </a>
          </li>
          <li>
              <a href="#files" data-toogle="tab">
                  <strong><i class="icon-edit"></i> Specific Configuration Files</strong>
              </a>
          </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="configuration">
                <h3>Main configuration</h3>

                <div class="row">
                    <div class="span3">{{ form_row(form.name, { label: 'VM name' }) }}</div>
                    <div class="span3">{{ form_row(form.hostname, { label: 'Hostname' }) }}</div>
                    <div class="span3">{{ form_row(form.ip, { label: 'IP address' }) }}</div>
                    <div class="span3">{{ form_row(form.timezone, { label: 'Timezone' }) }}</div>
                </div>
            </div>
            <div class="tab-pane" id="components-and-modules">
                <div class="row">
                    <div class="span3">
                        <h3>Web Server</h3>

                        <ul class="unstyled">
                            <li>{{ form_row(form.apache, { label: 'Apache' }) }}</li>
                            <li>{{ form_row(form.apachePort, { label: 'Apache Port', attr: { class: 'span1' } }) }}</li>
                            <li>
                                <label for="sly_vm_form_type_vm_apacheRootDirectory">Apache Root directory</label>

                                <div class="input-prepend">
                                    <span class="add-on">/project</span>
                                    {{ form_widget(form.apacheRootDir, { attr: { class: 'span2' } }) }}
                                </div>
                            </li>   
                            <li>{{ form_row(form.apacheSSL, { label: 'Apache SSL support' }) }}</li>
                            <li>{{ form_row(form.nginx, { label: 'Nginx' }) }}</li>
                            <li>{{ form_row(form.varnish, { label: 'Varnish' }) }}</li>
                        </ul>
                    </div>

                    <div class="span3">
                        <h3>Database(s)</h3>
                        
                        <ul class="unstyled">
                            <li>{{ form_row(form.mysql, { label: 'MySQL' }) }}</li>
                            <li>{{ form_row(form.mysqlRootPassword, { label: 'MySQL root password' }) }}</li>
                        </ul>
                    </div>

                    <div class="span3">
                        <h3>PHP</h3>

                        <ul class="unstyled">
                            <li>{{ form_row(form.php, { label: 'PHP' }) }}</li>
                            <li>{{ form_row(form.phpVersion, { label: 'PHP version' }) }}</li>
                            <li>{{ form_row(form.phpMyAdmin, { label: 'PHPMyAdmin' }) }}</li>
                        </ul>

                        <h4>Modules</h4>
                        
                        {{ form_widget(form.phpModules) }}

                        <h4>PEAR components</h4>
                        
                        {{ form_widget(form.phpPearComponents) }}
                    </div>

                    <div class="span3">
                        <h3>System Packages</h3>

                        {{ form_widget(form.systemPackages) }}

                        <h4>Options and Others</h4>

                        <ul class="unstyled">
                            <li>{{ form_row(form.vimConfig, { label: 'Vim config' }) }}</li>
                            <li>{{ form_row(form.composer, { label: 'Composer' }) }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="files">
                <div class="row">
                    <div class="span3">
                        <h3>System files</h3>

                        Soon.
                    </div>

                    <div class="span3">
                        <h3>Apache files</h3>

                        Soon.
                    </div>

                    <div class="span3">
                        <h3>PHP files</h3>

                        Soon.
                    </div>
                </div>
            </div>
        </div>

        <div class="form-actions">
            <p class="pagination-centered">
                {{ form_row(form.vagrantBox, { label: 'Linux distribution', attr: { class: 'span4' } }) }}
            </p>

            <p class="pagination-centered" style="padding: 10px 0;">
                <input type="submit" class="btn btn-primary btn-large" value="Generate your Vagrant Web VM" />
            </p>
        </div>

        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% render url('vm_configs_component') %}

    {% javascripts filter='yui_js'
        '@SlyVMBundle/Resources/public/js/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
