{% extends 'SlyMainBundle:Layout:base.html.twig' %}

{% block body %}
    <form action="{{ path('homepage') }}" method="post" {{ form_enctype(form) }}>
        <ul class="nav nav-tabs" id="vm-settings">
          <li class="active">
                <a href="#configuration" data-toogle="tab">
                    <strong><i class="icon-hdd"></i> VM Configuration</strong>
                </a>
          </li>
          <li>
              <a href="#components-and-modules" data-toogle="tab">
                  <strong><i class="icon-list"></i> Components and Modules</strong>
              </a>
          </li>
          <li>
              <a href="#files" data-toogle="tab">
                  <strong><i class="icon-edit"></i> Specific Configuration Files</strong>
              </a>
          </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="configuration">
                <h3>Main configuration</h3>

                <div class="row">
                    <div class="span3">{{ form_row(form.name, { label: 'VM name' }) }}</div>
                    <div class="span3">{{ form_row(form.hostname, { label: 'Hostname' }) }}</div>
                    <div class="span3">{{ form_row(form.ip, { label: 'IP address' }) }}</div>
                    <div class="span3">{{ form_row(form.timezone, { label: 'Timezone' }) }}</div>
                </div>
            </div>
            <div class="tab-pane" id="components-and-modules">
                <div class="row">
                    <div class="span3">
                        <h3>Web Server</h3>

                        ...
                    </div>

                    <div class="span3">
                        <h3>Database(s)</h3>
                        
                        ...
                    </div>

                    <div class="span3">
                        <h3>PHP Modules</h3>
                        
                        ...
                    </div>

                    <div class="span3">
                        <h3>Tools</h3>

                        ...
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="files">
                <div class="row">
                    <div class="span3">
                        <h3>System files</h3>

                        ...
                    </div>

                    <div class="span3">
                        <h3>Apache files</h3>

                        ...
                    </div>

                    <div class="span3">
                        <h3>PHP files</h3>

                        ...
                    </div>
                </div>
            </div>
        </div>

        <div class="form-actions">
            <p class="pagination-centered" style="padding: 10px 0;">
                <input type="submit" class="btn btn-primary btn-large" value="Generate your Vagrant Web VM" />
            </p>
        </div>

        <hr />

        <ul>
            <li>Then untar the archive into your web project directory (into a <code>vagrant/</code> folder)</li>
            <li>Go to <code>vagrant/</code> folder</li>
            <li>Execute <code>git submodule update --init</code> command</li>
            <li>Run the VM with <code>vagrant up</code> command</li>
        </ul>

        {{ form_rest(form) }}
    </form>
{% endblock %}
