{% extends 'SlyMainBundle:Layout:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='yui_css'
        '@SlyVMBundle/Resources/public/css/*'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block body %}
    <div id="vm-creation-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="vm-creation-response" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="vm-creation-response">Your VM has been created</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

    <form id="vm-creation" action="{{ path('homepage') }}" method="post" {{ form_enctype(form) }}>
        <div id="vm-configuration-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="vm-configuration-response" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="vm-configuration-response">{{ project.name }} - Welcome</h3>
            </div>
            <div class="modal-body">
                <p>First, choose a <strong>base configuration</strong>:</p>

                <p>{{ form_widget(form.configuration) }}</p>

                <p>Don't worry, you can customize it after! :)</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Apply / Close</button>
            </div>
        </div>

        <ul class="nav nav-tabs" id="vm-settings">
          <li class="active">
                <a href="#configuration" data-toogle="tab">
                    <strong><i class="icon-hdd"></i> VM Configuration</strong>
                </a>
          </li>
          <li>
              <a href="#components-and-modules" data-toogle="tab">
                  <strong><i class="icon-list"></i> Components and Modules</strong>
              </a>
          </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="configuration">
                <h3>Main configuration</h3>

                <div class="row">
                    <div class="span3">{{ form_row(form.name, { label: 'VM name' }) }}</div>
                    <div class="span3">{{ form_row(form.hostname, { label: 'Hostname' }) }}</div>
                    <div class="span3">{{ form_row(form.ip, { label: 'IP address' }) }}</div>
                    <div class="span3">{{ form_row(form.timezone, { label: 'Timezone' }) }}</div>
                </div>

                <div class="row">
                    <div class="span3">{{ form_row(form.vagrantNFS, { label: 'NFS mount for project folder' }) }}</div>
                    <div class="span3">
                        <div class="input-append">
                            <label for="sly_vm_form_type_vm_vagrantMemory">Memory attribution</label>
                            {{ form_widget(form.vagrantMemory, { attr: { class: 'span1' } }) }}
                            <span class="add-on">Mo</span>
                        </div>
                    </div>
                    <div class="span3">{{ form_row(form.vagrantCpu, { label: 'Processors allocation (CPUs)' }) }}</div>
                </div>
            </div>
            <div class="tab-pane" id="components-and-modules">
                <div class="row">
                    <div class="span3">
                        <h3>Web Server</h3>

                        <ul class="unstyled">
                            <li>{{ form_row(form.apache, { label: 'Apache' }) }}</li>
                            <li>{{ form_row(form.apachePort, { label: 'Apache Port', attr: { class: 'span1' } }) }}</li>
                            <li>
                                <label for="sly_vm_form_type_vm_apacheRootDirectory">Apache Root directory</label>

                                <div class="input-prepend">
                                    <span class="add-on">/project</span>
                                    {{ form_widget(form.apacheRootDir, { attr: { class: 'span2' } }) }}
                                </div>
                            </li>   
                            <li>{{ form_row(form.apacheSSL, { label: 'Apache SSL support', attr: { 'disabled': 'disabled' } }) }}</li>
                            <li>{{ form_row(form.nginx, { label: 'Nginx', attr: { 'disabled': 'disabled' } }) }}</li>
                            <li>{{ form_row(form.varnish, { label: 'Varnish', attr: { 'disabled': 'disabled' } }) }}</li>
                        </ul>
                    </div>

                    <div class="span3">
                        <h3>Database(s)</h3>
                        
                        <ul class="unstyled">
                            <li>{{ form_row(form.mysql, { label: 'MySQL' }) }}</li>
                            <li>{{ form_row(form.mysqlRootPassword, { label: 'MySQL root password' }) }}</li>
                            <li>{{ form_row(form.phpMyAdmin, { label: 'PHPMyAdmin' }) }}</li>
                        </ul>
                    </div>

                    <div class="span3">
                        <h3>PHP</h3>

                        <ul class="unstyled">
                            <li>{{ form_row(form.php, { label: 'PHP' }) }}</li>
                            <li>{{ form_row(form.phpVersion, { label: 'PHP version' }) }}</li>
                        </ul>

                        <h4>Modules</h4>
                        
                        <div class="php-options">{{ form_widget(form.phpModules) }}</div>

                        <ul class="unstyled">
                            <li>{{ form_row(form.phpXDebugMaxNestingLevel, { label: 'XDebug nesting level', attr: { class: 'span1' } }) }}</li>
                        </ul>

                        <h4>PEAR components</h4>
                        
                        <div class="php-options">{{ form_widget(form.phpPearComponents) }}</div>
                    </div>

                    <div class="span3">
                        <h3>System Packages</h3>

                        {{ form_widget(form.systemPackages) }}

                        <h4>Options and Others</h4>

                        <ul class="unstyled">
                            <li>{{ form_row(form.mailCatcher, { label: 'MailCatcher' }) }}</li>
                            <li class="vim-options">
                                {{ form_row(form.vimConfig, { label: 'Vim config', attr: { 'disabled': 'disabled' } }) }}
                            </li>
                            <li>{{ form_row(form.composer, { label: 'Composer' }) }}</li>
                            <li>{{ form_row(form.ohMyZsh, { label: 'ZSH + Oh-My-Zsh' }) }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <p>{{ form_row(form.vagrantFinalLaunch, { label: 'Launch Vagrant VM after generated script execution' }) }}</p>

        <div class="form-actions">
            <p class="pagination-centered">
                {{ form_row(form.vagrantBox, { label: 'Linux distribution', attr: { class: 'span4' } }) }}
            </p>

            <p class="pagination-centered" style="padding: 10px 0;">
                <input type="submit" class="btn btn-primary btn-large" value="Generate your Vagrant Web VM" />
            </p>
        </div>

        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% render url('vm_configs_component') %}

    {% javascripts filter='yui_js'
        '@SlyVMBundle/Resources/public/js/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
