<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ project.name }}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body style="padding-top: 80px;">
        <a href="{{ project.githubUrl }}"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10000;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
              <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{{ path('homepage') }}">
                  {{ project.name }}
                </a>
                <div class="nav-collapse collapse">
                  <ul class="nav">
                        <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
                  </ul>

                  <ul class="nav pull-right">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Created by {{ author.name }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{ author.url.github }}">GitHub account</a></li>
                          <li><a href="{{ author.url.viadeo }}">Viadeo profile</a></li>
                          <li><a href="{{ author.url.linkedin }}">Linkedin profile</a></li>
                          <li><a href="{{ author.url.twitter }}">Twitter profile</a></li>
                          <li><a href="mailto:{{ author.email }}">Contact me by e-mail</a></li>
                        </ul>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>

        <div class="container">
            <p class="pagination-centered">
                <span class="label label-important">
                    Alpha version - Work in progress
                </span>
            </p>

            <div class="hero-unit">
                <p class="pagination-centered">
                    Some seconds to <strong>generate your Web Virtual Machine</strong>,
                    boosted with <strong>Vagrant</strong> and <strong>Puppet</strong>.
                </p>
            </div>

            {% block body %}{% endblock %}

            <hr/>

            <footer>
              <p class="pagination-centered">
                <small>
                    &copy; 2013 <a href="{{ author.url.github }}">{{ author.name }}</a> -
                    All rights reserved -
                    <a href="http://symfony.com">Symfony2</a> powered -
                    <a href="{{ project.githubUrl }}">Fork {{ project.name }} on Github</a>
                </small>
              </p>
            </footer>
        </div>
        
        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>

            <script type="text/javascript">
                $('#vm-settings a').click(function (e) {
                    e.preventDefault();

                    $(this).tab('show');
                });
            </script>

            <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', '{{ project.googleAnalyticsID }}']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
            </script>
        {% endblock %}
    </body>
</html>
